{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/phppracticaltestweb/css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <header id="cabecera">
    </header>
    <div id="content">
              {% block article %}{% endblock %}
              {% block aside %}
              {% endblock %}
    </div>
{% endblock %}


